// background frame size
// menu width
$navMenu: 250px;
$navMenuMin: 64px;
$layoutHeader: 75px;

// main color
$mainColor: #f56c6c;

@mixin webkit($style,$value){
  -webkit-#{$style}: $value;
  -moz-#{$style}: $value;
  -o-#{$style}:  $value;
  -ms-#{$style}: $value;
  #{$style}:  $value;
}